@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: "Red Hat Display", sans-serif;
}

.background {
    height: 600px;
}

.background img {
    height: 300px;
    width: 100%;
}

.box {
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 4px 3px 8px 1px #696969;
    border-radius: 15px;
}

.hero-image {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

.heading {
    padding: 15px 55px;
}

.heading h1 {
    text-align: center;
}

.heading p {
    margin-top: 10px;
    text-align: center;
    font-weight: lighter;
    font-size: large;
    color: slategrey;
}

.annual-plan {
    background-color: hsl(225, 100%, 98%);
    border-radius: 5px;
    height: 75px;
    margin: 25px 35px;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.annual-plan img {
    margin: 15px;
}

.text {
    margin-top: 10px;
}

.change {
    margin-top: 25px;
    margin-left: 50px;
}

.change li {
    list-style: none;
}

.change a{
    font-weight: bold;
}

.procButton {
    border: none;
    background-color: blue;
    padding: 15px 32px;
    text-align: center;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    width: 350px;
    margin-left: 75px;
    box-shadow: 0px 6px 8px 1px #949494;
  }

.procButton:hover {
    background-color: rgb(56, 56, 252);
}

.procButton:active {
    background-color: rgb(3, 3, 182);
}

.canOrder p {
    margin-top: 40px;
    text-align: center;
    font-weight: lighter;
    font-size: large;
    color: slategrey;
}