@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: "Red Hat Display", sans-serif;
}

.background {
    height: 600px;
}

.background img {
    height: 300px;
    width: 100%;
}

.box {
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 4px 3px 8px 1px #696969;
    border-radius: 15px;
}

.hero-image {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

.heading {
    border: 2px solid red;
    padding: 0px 55px;
}

.heading h1 {
    text-align: center;
}

.heading p {
    text-align: center;
    font-weight: lighter;
    font-size: large;
    color: slategrey;
}